h1 {
    color : blue 
}
h2{
    color : red 
}
h3{
    background-color: green 
}
#hedheka{
    background-color: red 
}
.hedhom{
    color: yellow 
}
#barasra,h4{
    background-color: aqua
}